{% extends 'indexdécés.html' %}
{% block h1 %}Declaration décés{% endblock %}
{% block content %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
        <tr>
            <th>registre</th>
            <th>numéro</th>
            <th>prenom</th>
            <th>nom</th>
            <th>datenaiss</th>
            <th>lieunaiss</th>
        
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
    {% for acte_décés in acte_décéss %}
    <tr>
        <td>{{Actes_Naissance.registre}}</td>
        <td>{{Actes_Naissance.numéro}}</td>
        <td>{{Actes_Naissance.prenom}}</td>
        <td>{{Actes_Naissance.nom}}</td>
        <td>{{Actes_Naissance.datenaiss}}</td>
        <td>{{Actes_Naissance.lieunaiss}}</td>
    

        <td>
            <a href="/edit/{{acte_décés.id}}"> <span class="glyphicon glyphicon-penci">Edit</span></a>
            <a href="/delete/{{acte_décés.id}}">Delete</a>
        </td>
    </tr>
    {% endfor%}
    </tbody>    
</table>
{% endblock %}