{% extends 'Acceuil.html' %}
{% block h1 %} Créer votre compte {% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-lg-6 shadow p-4">
            <form>
                <div class="mb-3">
                    <label for="exampleInputText1" class="form-label">Prénom </label>
                    <input type="text" class="form-control" id="exampleInputText1" aria-describedby="textlHelp" placeholder="Votre Prenom">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputText2" class="form-label">Nom </label>
                    <input type="text" class="form-control" id="exampleInputText2" aria-describedby="textlHelp" placeholder="Votre Nom">
                  </div>

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Address Email </label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Votre adresse email">
                  <div id="emailHelp" class="form-text">Nous allons jamais partager votre email.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Vretre mot de passe">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Confirmez votre mot de passe</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Votre mot passe à nouveau">
                  </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Selectionner</label>
                </div>
                <button type="submit" class="btn btn-primary">
                    <a class="nav-link active text-white" aria-current="page" href="{% url 'Acceuil' %}">Creer un compte</a>
                </button>
              </form>
        </div>
    </div>
</div>
{% endblock %}